

/* Put your custom styles here */

.scroll
{
    position: relative;
    bottom: 110px;
    margin: 0 auto;
    width: 256px;
}

.scroll a
{
    border-radius: 25px;
}

.navbar-default
{
    max-height: 83px !important;
    margin-bottom: 0px !important;
}

.navbutton
{
    position: relative;
    bottom: 13px;
}

.carousel-h1
{
    font-size: 48px;
    font-weight: 500;
    padding-right: 10px;
    padding-left: 10px;
}

.carousel-h2
{
    font-size: 48px;
}

.carousel-caption
{
    bottom: 15%;
    right: 20%;
    left: 20%;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.oxbow
{
    max-width: 500px;
}

.blurb1
{
    position: relative;
    top: 27px;
    margin-bottom: 40px;
}

.vid
{
    border-radius: 12px;
    position: relative;
    top: 10px;
}

.how-block
{
    padding-bottom: 0px;
    padding-top: 83px;
}

.how-block2
{
    padding-top: 50px;
}

#team
{
    padding-top: 128px;
}

.funnel-bg
{
    height: 500px;
}

/* IMAGES */

img
{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
}

#products
{
    padding-top: 120px;
}

#clients
{
    padding-top: 15px;
    padding-bottom: 70px;
}

#clients img
{
    border-radius: 0;
}

#links img
{
    border-radius: 3px;
    margin-bottom: 3px;
}

.brand
{
    position: relative;
    bottom: 12px;
}

.navbar-position
{
    position: relative;
    bottom: 9px;
}

.emailbtn
{
    background-color: green;
}

.memberships
{
    height: 128px;
    border-radius: 0;
}

#patent
{
    font-style: italic;
}

#social a{
    padding: 0 30px 0 30px;
}

/*GALLERY*/

#media h4
{
    margin-bottom: 30px;
    text-align: center;
}

/*THE FOLLOWING CODE MAKES THE NAVBAR RESPONSIVE*/

.media-block
{
    padding-top: 113px;
}

@media (max-width: 1210px)
{
    .navbar-header
    {
        float: none;
    }
    .navbar-toggle
    {
        background-color: rgba(255,255,255,0.9);
        display: block;
    }
    .navbar-collapse
    {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.9);
    }
    .navbar-collapse.collapse
    {
        display: none!important;
    }
    #header-2 .main-nav .nav
    {
        margin-top: 0px !important;
    }
    .navbar-nav
    {
        float: none!important;
        margin: 7.5px -15px;
        background-color: rgba(255,255,255,0.7);
        border-radius: 5px;
    }
    .navbar-nav>li
    {
        float: none;
    }
    .navbar-nav>li>a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text
    {
        float: none;
        margin: 15px 0;
    }
/* since 3.1.0 */
    .navbar-collapse.collapse.in
    {
        display: block!important;
        max-height: 100%;
        max-width: 100%;
        margin: 0px !important;
        border-radius: 5px;
    }
    .collapsing
    {
        overflow: hidden!important;
    }
    .brand-img
    {
        margin: 0 auto;
    }
}

@media (max-width:768px)
{
    .carousel-caption
    {
        bottom: 25%;
    }
    .carousel-h1
    {
        font-size: 32px;
    }
    .carousel-caption > h1
    {
        font-size: 24px;
    }
    .blurb1 > h1
    {
        font-size: 28px;
    }
    .blurb1 > h3
    {
        font-size: 20px;
    }
    .footer-1-4 h2
    {
        font-size: 20px;
    }
    #content-1-1
    {
        min-height: 400px;
        height: 400px;
    }
    .osc-text
    {
        font-size: 20px;
        position: relative;
        bottom: 360px;
        background-color: rgba(0,0,0,0.8);
    }
    .navbar-nav
    {
    }
    #products
    {
        padding-top: 65px;
    }
}

@media (max-width:550px)
{
    .navbar
    {
        max-width: 100%;
    }
}

@media (max-width: 520px)
{
    #brand-img
    {
        padding-top: 10px;
        width: 80%;
        max-width: 60%;
        height: auto;
    }
    .brand-img
    {
        padding-left: 0px !important;
    }
    .blurb1 > h1
    {
        font-size: 22px;
    }
    .blurb1 > h3
    {
        font-size: 16px;
    }
    .oxbow
    {
        font-size: 12px;
    }
    .osc-text
    {
        font-size: 14px;
    }
}

@media (max-width: 405px)
{
    #brand-img
    {
        padding-top: 20px;
        width: 180px;
        max-width: 60%;
        height: auto;
    }
    .navbar-nav
    {
        top: 15px;
    }
}

/* SOCIAL BUTTONS*/
@media (max-width: 422px)
{
  #social a {
        padding: 0 10px 0 10px;
  }
}
