.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: auto;
    height: auto;
    opacity: 0.95;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .fullscreen-bg {
    background: url('../images/media/stanford-pool1.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}